pandas==2.2.2
numpy==2.0.2
matplotlib==3.10.0
seaborn==0.13.2
wordcloud==1.9.4
scikit-learn==1.6.1
tensorflow==2.18.0
nltk==3.9.1
Sastrawi==1.0.1
google-play-scraper==0.1.7
imbalanced-learn==0.13.0
requests==2.32.3